/** 
 * CONTENTS
 *
 * BASE
 *
 * BUTTON TYPES
 *
 * MODIFIERS
 * Size
 * Mode
 */

/*------------------------------------*\
    BASE
\*------------------------------------*/

.softkeys {
	white-space:nowrap;//add by hao
    display: table;
    list-style: none;
    margin: 2em auto;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
}


    .softkeys__btn {
        display: inline-block;
        text-align: center;
        font-size: 1em;
        line-height: 2.5em;
        min-width: 1em;
        padding: 0 1em;
        margin: 0 0.1em 0.4em 0.1em;
        border: 0.1em solid #aaa;
        border-radius: 5px;
        cursor: pointer;
    }

        .softkeys__btn:hover, .softkeys__btn:focus {
            outline: none;
            background-color: #4b94ce;
            border-color: #4b94ce;
            color: #fff;
        }

        .softkeys__btn span {
            display: none;
        }
            .softkeys__btn span:first-child {
                display: block;
            }


    .softkeys__new-row:before {
        display: block;
        content: ' ';
        width: 100%;
    }





/*------------------------------------*\
    BUTTON TYPEs
\*------------------------------------*/

.softkeys__btn--space {
    width: 30em;
}





/*------------------------------------*\
    SIZE MODIFIERS
\*------------------------------------*/

.softkeys--sm { font-size: 0.8em; }
.softkeys--md { font-size: 1em;   }
.softkeys--lg { font-size: 1.2em; }
.softkeys--xl { font-size: 1.4em; }





/*------------------------------------*\
    MODE MODIFIERS
\*------------------------------------*/

/*.softkeys--caps*/ 
    .softkeys--caps .softkeys__btn[data-type=capslock] {
        background-color: #4b94ce;
        border-color: #4b94ce;
        color: #fff;
    }

    .softkeys--caps .softkeys__btn[data-type=letter] {
        text-transform: uppercase;
    }

/*.softkeys--alt*/ 

    .softkeys--alt .softkeys__btn[data-type=shift] {
        background-color: #4b94ce;
        border-color: #4b94ce;
        color: #fff;
    }

    .softkeys--alt .softkeys__btn[data-type=symbol] span {
        display: none;
    }

    .softkeys--alt .softkeys__btn[data-type=symbol] span:last-child {
        display: block;
    }
